@model WatchlistCriteriaTablesViewModel

<div class="custom-canvas col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
    <h3>
        <a href="/Watchlists/GetWatchlist?id=@Model.Id">@Model.Name</a>
        <span data-html-export-watchlist="@Model.Id"
              class="pull-right a-like-span glyphicon glyphicon-export"
              title="Export a summary of this watchlist"></span>
    </h3>

    <div class="row">
        <div class="main-wrapper watchlist-criteria-wrapper col-xs-12">
            @Html.Partial("_CriteriaTableHorizontalPartial", Model.CriteriaTableRows)
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/Internal/watchlists.js")
    @Scripts.Render("~/Scripts/External/html2canvas.min.js")
}

@Styles.Render("~/Content/Internal/criteria-tables.css")
