@model ChangePasswordViewModel

<div class="settings-container custom-canvas col-xs-6 col-xs-offset-3">
    <h3>Change password</h3>
    <hr />
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="col-xs-10 col-xs-offset-1">
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-xs-12">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control custom-focus-black", placeholder = "Current password" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control custom-focus-black", placeholder = "New password" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control custom-focus-black", placeholder = "Confirm password" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 text-right">
                    <input class="btn btn-reset settings-btn-back" type="button" data-settings-back="" value="Back" />
                    <input type="submit" value="Change" class="btn btn-cta" />
                </div>
            </div>
        </div>
    }
</div>

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Scripts/Internal/dashboard.js")