@model ChangePasswordViewModel

@Styles.Render("~/Content/Internal/manage.css")

<div class="settings-container custom-canvas col-xs-6 col-xs-offset-3">
    <h4>Change password</h4>

    <hr />

    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-3 control-label" })
            <div class="col-md-5">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control custom-focus-black" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-3 control-label" })
            <div class="col-md-5">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control custom-focus-black" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
            <div class="col-md-5">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control custom-focus-black" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12 text-right">
                <input class="btn btn-reset settings-btn-back" type="button" data-settings-back="" value="Back" />
                <input type="submit" value="Change password" class="btn btn-cta" />
            </div>
        </div>
    }
</div>

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Scripts/Internal/dashboard.js")