@model ManageIndexViewModel

<div class="settings-container custom-canvas col-xs-6 col-xs-offset-3">
    <p id="action-message-box" class="text-info">@ViewBag.StatusMessage</p>
    <div>
        <h3>Account settings</h3>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <dl class="dl-horizontal">
            <dt>Avatar:</dt>
            <dd class="text-left">
                <a data-settings-index="avatar">Change</a>
            </dd>
            <dt>Password:</dt>
            <dd class="text-left">
                <a data-settings-index="password">Change</a>
            </dd>
            <dt>I blog about beaches</dt>
            <dd class="text-left">
                @using (Html.BeginForm("Blog", "Manage", FormMethod.Post, new { id = "manage-blog-form" }))
                {
                    @Html.AntiForgeryToken();

                    @Html.CheckBoxFor(m => m.IsBlogger, new { id = "settings-checkbox-blogger" })
                    <div><span class="info-icon glyphicon glyphicon-info-sign"></span></div>
                    <div class="custom-popup custom-canvas" style="display: none;">
                        We will put a link to your blog in every review you leave.
                    </div>
                    <div id="settings-blog" class="form-group display-none">
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.BlogUrl, new { id = "txt-settings-blog-url", @class = "form-control form-control-extended custom-focus-black", @placeholder = "For example, http://www.myblog.com/" })
                        </div>
                    </div>
                    <button id="btn-save-blog" class="btn btn-cta display-none">Save</button>
                }
            </dd>
        </dl>
    </div>
</div>