@using BeachRankings.Models.Enums

@model ICollection<HorizontalCriteriaViewModel>

<div class="cv-table-wrapper">
    <table cellpadding="0" class="cv-table">
        <thead>
            <tr>
                <th class="cv-header-head cv-beach"><div><span><a href="@ConfigurationManager.AppSettings["FullWebAddress"]" target="_blank">@ConfigurationManager.AppSettings["Trademark"]</a></span></div></th>
                <th colspan="5" class="cv-header-head cv-beach"><div><span>Beach</span></div></th>
                <th colspan="5" class="cv-header-head cv-water"><div><span>Sea</span></div></th>
                <th colspan="5" class="cv-header-head cv-activities"><div><span>Suitable for</span></div></th>
                <th class="cv-score"><div><span></span></div></th>
            </tr>
            <tr class="cv-header-criteria">
                <th class="cv-beach"><div><span><strong>Beach</strong></span></div></th>

                <th class="rotate cv-beach"><div class="criterion-number">@((int)Criterion.SandQuality)</div><div class="criterion-heading"><span>@Criterion.SandQuality.GetDescription()</span></div></th>
                <th class="rotate cv-beach"><div class="criterion-number">@((int)Criterion.BeachCleanliness)</div><div class="criterion-heading"><span>@Criterion.BeachCleanliness.GetDescription()</span></div></th>
                <th class="rotate cv-beach"><div class="criterion-number">@((int)Criterion.BeautifulScenery)</div><div class="criterion-heading"><span>@Criterion.BeautifulScenery.GetDescription()</span></div></th>
                <th class="rotate cv-beach"><div class="criterion-number">@((int)Criterion.CrowdFree)</div><div class="criterion-heading"><span>@Criterion.CrowdFree.GetDescription()</span></div></th>
                <th class="rotate cv-beach"><div class="criterion-number">@((int)Criterion.Infrastructure)</div><div class="criterion-heading"><span>@Criterion.Infrastructure.GetDescription()</span></div></th>

                <th class="rotate cv-water"><div class="criterion-number">@((int)Criterion.WaterVisibility)</div><div class="criterion-heading"><span>@Criterion.WaterVisibility.GetDescription()</span></div></th>
                <th class="rotate cv-water"><div class="criterion-number">@((int)Criterion.LitterFreeWater)</div><div class="criterion-heading"><span>@Criterion.LitterFreeWater.GetDescription()</span></div></th>
                <th class="rotate cv-water"><div class="criterion-number">@((int)Criterion.FeetFriendlyBottom)</div><div class="criterion-heading"><span>@Criterion.FeetFriendlyBottom.GetDescription()</span></div></th>
                <th class="rotate cv-water"><div class="criterion-number">@((int)Criterion.SeaLifeDiversity)</div><div class="criterion-heading"><span>@Criterion.SeaLifeDiversity.GetDescription()</span></div></th>
                <th class="rotate cv-water"><div class="criterion-number">@((int)Criterion.CoralReef)</div><div class="criterion-heading"><span>@Criterion.CoralReef.GetDescription()</span></div></th>

                <th class="rotate cv-activities"><div class="criterion-number">@((int)Criterion.Snorkeling)</div><div class="criterion-heading"><span>@Criterion.Snorkeling.GetDescription()</span></div></th>
                <th class="rotate cv-activities"><div class="criterion-number">@((int)Criterion.Kayaking)</div><div class="criterion-heading"><span>@Criterion.Kayaking.GetDescription()</span></div></th>
                <th class="rotate cv-activities"><div class="criterion-number">@((int)Criterion.Walking)</div><div class="criterion-heading"><span>@Criterion.Walking.GetDescription()</span></div></th>
                <th class="rotate cv-activities"><div class="criterion-number">@((int)Criterion.Camping)</div><div class="criterion-heading"><span>@Criterion.Camping.GetDescription()</span></div></th>
                <th class="rotate cv-activities"><div class="criterion-number">@((int)Criterion.LongTermStay)</div><div class="criterion-heading"><span>@Criterion.LongTermStay.GetDescription()</span></div></th>

                <th class="rotate cv-score"><div class="criterion-heading"><span><strong>Score</strong></span></div></th>
            </tr>
        </thead>

        <tbody>
            @Html.DisplayForModel()
        </tbody>
    </table>
</div>