<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Internal/main-layout.css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Internal/home.css")
    @Styles.Render("~/Content/External/DataTables/datatables.min.css")
    @Styles.Render("~/Content/External/lightbox/css/lightbox.css")
    @RenderSection("ReviewsStyles", required: false)
    @RenderSection("BeachStyles", required: false)
    @RenderSection("UserStyles", required: false)
</head>
<body>
    <div class="header-wrapper">
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Add Beach", "Add", "Beaches")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="home-search-header">
            <input id="main-search-field" class="custom-focus-black" name="main-search-field" type="text" autocomplete="off" placeholder="Search by land or sea" />
            @*<input type="submit" value="Go" />*@
            <div class="autocomplete-box home-autocomplete-box" style="display: none;"></div>
        </div>
    </div>

    <div class="container body-content">
        <div id="results-container" class="row">
            <div class="loading-image-container col-xs-12">
                <img id="loading-main-results-image" src="~/Content/Images/ajax-loader.gif" alt="Loading" style="display: none;" />
            </div>
            @RenderBody()
        </div>

        <hr />

        <footer id="main-footer">
            <p>&copy; @DateTime.Now.Year - BeachesDb.com</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Internal/utils.js")
    @Scripts.Render("~/Scripts/Internal/index.js")
    @Scripts.Render("~/Scripts/Internal/dashboard.js")
    @Scripts.Render("~/Scripts/Internal/infinite-scroller.js")
    @Scripts.Render("~/Content/External/DataTables/datatables.min.js")
    @Scripts.Render("~/Scripts/Internal/datatables-manager.js")
    @Scripts.Render("~/Content/External/lightbox/js/lightbox.js")
    @RenderSection("scripts", required: false)
</body>
</html>