<!DOCTYPE html>
<html>
<head>
    @if (!Html.IsDebug())
    {
        @Html.Partial("_AnalyticsPartial");
    }

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="~/Content/Images/social-beach-export.jpg" />

    <title>@Html.ParseNullString((string)ViewBag.Title, ConfigurationManager.AppSettings["BrandName"])</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Internal/main-layout.css")
    @Styles.Render("~/Content/Internal/home.css")
    @Styles.Render("~/Content/External/DataTables/datatables.min.css")
    @Styles.Render("~/Content/Internal/datatables-custom.css")
    @Styles.Render("~/Content/External/lightbox/css/lightbox.css")
    @Styles.Render("~/Content/Internal/dashboard.css")
    @Styles.Render("~/Content/Internal/watchlists.css")
    @RenderSection("ReviewsStyles", required: false)
    @RenderSection("BeachStyles", required: false)
    @RenderSection("UserStyles", required: false)
    @RenderSection("AdminStyles", required: false)
</head>

<body>
    <div id="fb-root"></div>

    <div class="loading">
        <div class="loader"></div>
    </div>

    <div class="header-wrapper">
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink(ConfigurationManager.AppSettings["BrandName"] + " Criteria", "Criteria", "Home")</li>
                        <li>@Html.ActionLink("How to Search", "HowTo", "Home")</li>
                        <li>@Html.ActionLink("Add Beach", "Add", "Beaches")</li>
                        <li>@Html.ActionLink("Top Contributors", "Top", "Contributors")</li>
                        <li>@Html.ActionLink("Best Beaches", "Statistics", "World")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("For Bloggers", "Bloggers", "Home")</li>
                        <li>@Html.Partial("_LoginPartial")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="home-search-header">
            <div class="search-header-description-wrapper">
                <div class="search-header-description-inner">
                    <span class="desc-brand">@ConfigurationManager.AppSettings["BrandName"]</span>
                    <span class="desc-engine display-block">Find Your Beach</span>
                </div>
            </div>

            <input id="main-search-field" class="custom-focus-black" name="main-search-field" type="text" autocomplete="off" placeholder="Search by land or sea" />

            <div class="autocomplete-box home-autocomplete-box" style="display: none;"></div>
        </div>
    </div>

    <div class="container body-content">
        <div id="results-container" class="row">
            @RenderBody()
        </div>

        <footer id="main-footer">
            <div class="row">
                <div class="col-xs-12">
                    <div class="fb-like" data-href="https://www.beachrankings.info/" data-layout="button_count"
                         data-action="like" data-size="small" data-show-faces="false" data-share="false">
                    </div>
                </div>
            </div>

            <div class="footer-copyright row">
                <div class="col-xs-12">
                    <p>&copy; @DateTime.Now.Year - @ConfigurationManager.AppSettings["DomainName"]</p>
                </div>
            </div>

            <div class="row">
                @Html.Partial("_BeachExportPopupPartial")

                <div data-html-renderable="" class="invisible-floater"></div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)

    @if (!Html.IsDebug())
    {
        Html.RenderPartial("_AnalyticsBottomPartial");

        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a75ca7eadb0ec10"></script>
    }
</body>
</html>