@using Microsoft.AspNet.Identity
@using System.Security.Claims

@if (Request.IsAuthenticated)
{
    var avatar = ((ClaimsIdentity)User.Identity).FindFirst("Avatar");
    var level = ((ClaimsIdentity)User.Identity).FindFirst("Level");
    var pointsToNext = ((ClaimsIdentity)User.Identity).FindFirst("PointsToNext");

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li id="user-overview">
                <div id="level-info" class="disable-block-inline">
                    <div class="vertical-center">
                        <b>@level.Value</b>
                        <div id="points"><i><sub>@pointsToNext.Value</sub></i></div>
                    </div>                   
                </div>
                <div class="dashboard-img-container disable-block-inline">
                    <img src="@avatar.Value" class="img-circle img-responsive vertical-center" />
                </div>
                <div class="user-overview-helper display-none"><div class="vertical-center">Points to next level</div></div>  
            </li>  
            <li id="user-dashboard-dropdown" class="dropdown">                              
                <a href="#" id="dashboard-dropdown-trigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @User.Identity.GetUserName()
                    <span class="caret"></span>
                </a>
                <ul id="dashboard-dropdown" class="dropdown-menu">
                    <li><a class="dashboard-link">Statistics</a></li>
                    <li><a class="dashboard-link">Images</a></li>
                    <li><a class="dashboard-link">Settings</a></li>
                    @{
                        if (this.User.Identity.CanRestructure(this.User.Identity.GetUserId()))
                        {
                            <li><a href="/Admin/Restructure/">Restructure</a></li>
                        }
                    }
                    <li><a href="javascript:document.getElementById('logoutForm').submit()" class="dashboard-link">Log off</a></li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    </ul>
}