@model PlaceBeachesViewModel

@{
    if (!this.Request.IsAjaxRequest())
    {
        @Styles.Render("~/Content/Internal/place.css")

        <h2>@Model.Name</h2>

        <hr />

        <div id="location-beaches-container" class="custom-canvas col-xs-10 col-xs-offset-1">
            @Html.DisplayFor(model => model.Beaches)            
        </div>

        @section Scripts {
            @Scripts.Render("~/Scripts/Internal/_PlaceBeaches")
        }
    }
    else
    {
        @Html.DisplayFor(model => model.Beaches)
    }
}