@model PlaceBeachesViewModel

@{
    if (!this.Request.IsAjaxRequest())
    {
        @Styles.Render("~/Content/Internal/place.css")

        <h2>@Model.Name</h2>

        <hr />

        <div id="location-beaches-container" class="custom-canvas col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
            @Html.DisplayFor(model => model.Beaches)            
        </div>

        @section Scripts {
            @Scripts.Render("~/Scripts/Internal/place.js")
        }
    }
    else
    {
        if (Model.Beaches.Count() == 0)
        {
            return;
        }

        @Html.DisplayFor(model => model.Beaches)
    }
}