@model StatisticsViewModel

@{
    if (!(
        Model.Controller == "Continents" ||
        Model.Controller == "Countries" ||
        Model.Controller == "PrimaryDivisions" ||
        Model.Controller == "WaterBodies" ||
        Model.Controller == "World"))
    {
        return;
    }

    var descriptor = new BeachRankings.Services.Aggregation.BeachFilterDescriptor();
}

@using (Ajax.BeginForm("FilteredStatistics", Model.Controller,
        ajaxOptions: new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "fillable-table-holder",
            OnSuccess = "dataTablesManager.initializeDataTable();",
            OnBegin = "siteManager.showSpinner();",
            OnComplete = "siteManager.hideSpinner();"
        }))
{
    @Html.HiddenFor(m => m.Id, new { data_place_id = Model.Id })
    @Html.HiddenFor(m => m.Controller, new { data_controller_name = Model.Controller })

    <div class="predefined-filters-wrapper custom-canvas row col-lg-8 col-lg-offset-2">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="predefined-filter" data-predefined-filter-type="@BeachFilterType.AllCriteria.ToString()">
                                @BeachFilterType.AllCriteria.GetDescription()

                                <div class="custom-popup-container">
                                    <span class="info-icon-unclickable glyphicon glyphicon-info-sign"></span>
                                    <div class="custom-popup" style="display: none;">
                                        @Html.ToUnorderedList(descriptor.GetFilterDescription(BeachFilterType.AllCriteria))
                                    </div>
                                </div>
                            </div>

                            <div class="predefined-filter" data-predefined-filter-type="@BeachFilterType.BestBeach.ToString()">
                                @BeachFilterType.BestBeach.GetDescription()

                                <div class="custom-popup-container">
                                    <span class="info-icon-unclickable glyphicon glyphicon-info-sign"></span>
                                    <div class="custom-popup" style="display: none;">
                                        @Html.ToUnorderedList(descriptor.GetFilterDescription(BeachFilterType.BestBeach))
                                    </div>
                                </div>
                            </div>

                            <div class="predefined-filter" data-predefined-filter-type="@BeachFilterType.HolidayWithKids.ToString()">
                                @BeachFilterType.HolidayWithKids.GetDescription()

                                <div class="custom-popup-container">
                                    <span class="info-icon-unclickable glyphicon glyphicon-info-sign"></span>
                                    <div class="custom-popup" style="display: none;">
                                        @Html.ToUnorderedList(descriptor.GetFilterDescription(BeachFilterType.HolidayWithKids))
                                    </div>
                                </div>
                            </div>

                            <div class="predefined-filter" data-predefined-filter-type="@BeachFilterType.Walking.ToString()">
                                @BeachFilterType.Walking.GetDescription()

                                <div class="custom-popup-container">
                                    <span class="info-icon-unclickable glyphicon glyphicon-info-sign"></span>
                                    <div class="custom-popup" style="display: none;">
                                        @Html.ToUnorderedList(descriptor.GetFilterDescription(BeachFilterType.Walking))
                                    </div>
                                </div>
                            </div>

                            <div class="predefined-filter" data-predefined-filter-type="@BeachFilterType.LongTermStay.ToString()">
                                @BeachFilterType.LongTermStay.GetDescription()

                                <div class="custom-popup-container">
                                    <span class="info-icon-unclickable glyphicon glyphicon-info-sign"></span>
                                    <div class="custom-popup" style="display: none;">
                                        @Html.ToUnorderedList(descriptor.GetFilterDescription(BeachFilterType.LongTermStay))
                                    </div>
                                </div>
                            </div>

                            <div class="predefined-filter" data-predefined-filter-type="@BeachFilterType.Snorkeling.ToString()">
                                @BeachFilterType.Snorkeling.GetDescription()

                                <div class="custom-popup-container">
                                    <span class="info-icon-unclickable glyphicon glyphicon-info-sign"></span>
                                    <div class="custom-popup" style="display: none;">
                                        @Html.ToUnorderedList(descriptor.GetFilterDescription(BeachFilterType.Snorkeling))
                                    </div>
                                </div>
                            </div>

                            <div class="predefined-filter" data-predefined-filter-type="@BeachFilterType.Kayaking.ToString()">
                                @BeachFilterType.Kayaking.GetDescription()

                                <div class="custom-popup-container">
                                    <span class="info-icon-unclickable glyphicon glyphicon-info-sign"></span>
                                    <div class="custom-popup" style="display: none;">
                                        @Html.ToUnorderedList(descriptor.GetFilterDescription(BeachFilterType.Kayaking))
                                    </div>
                                </div>
                            </div>

                            <div class="predefined-filter" data-predefined-filter-type="@BeachFilterType.Camping.ToString()">
                                @BeachFilterType.Camping.GetDescription()

                                <div class="custom-popup-container">
                                    <span class="info-icon-unclickable glyphicon glyphicon-info-sign"></span>
                                    <div class="custom-popup" style="display: none;">
                                        @Html.ToUnorderedList(descriptor.GetFilterDescription(BeachFilterType.Camping))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
