@model CrossTableViewModel

<div class="crosstable-wrapper">
    <table class="crosstable">
        <thead>
            <tr>
                <th><div><span>Ranked by</span></div></th>
                <th class="crosstable-place-rank"><div><span>@Model.World</span></div></th>
                <th class="crosstable-place-rank"><div><span>@Model.Continent</span></div></th>
                <th class="crosstable-place-rank"><div><span>@Model.Country</span></div></th>
                <th class="crosstable-place-rank"><div><span>@Model.Area</span></div></th>
                <th class="crosstable-place-rank"><div><span>@Model.WaterBody</span></div></th>
            </tr>
        </thead>

        <tbody>
            @Html.DisplayFor(m => m.Rows)
        </tbody>
    </table>
</div>