@model StatisticsViewModel

@Html.HiddenFor(m => m.SortingCriterion, new { data_sorting_criterion = Model.SortingCriterion })
@Html.HiddenFor(m => m.FilterType, new { data_filter_type = Model.FilterType })

<div class="col-xs-12 table-responsive" style="position:relative;">
    <table id="table-result" class="display compact cell-border">
        <thead>
            <tr>
                <th class="place-head"><input type="text" data-filter="beach" class="column-filter" placeholder="Filter" />Beach</th>
                <th class="place-head"><input type="text" data-filter="country" class="column-filter" placeholder="Filter" />Country</th>
                <th class="place-head"><input type="text" data-filter="region" class="column-filter" placeholder="Filter" />Region</th>
                <th class="place-head">Area</th>
                <th class="place-head">Sub-area</th>
                <th class="place-head">Locality</th>
                <th class="place-head">Waterbody</th>
                <th class="text-center">Score</th>
                <th><div class="criterion-head">@Criterion.SandQuality.GetDescription()</div></th>
                <th><div class="criterion-head">@Criterion.BeachCleanliness.GetDescription()</div></th>
                <th><div class="criterion-head">@Criterion.BeautifulScenery.GetDescription()</div></th>
                <th><div class="criterion-head">@Criterion.CrowdFree.GetDescription()</div></th>
                <th><div class="criterion-head">@Criterion.Infrastructure.GetDescription()</div></th>
                <th><div class="criterion-head">@Criterion.WaterVisibility.GetDescription()</div></th>
                <th><div class="criterion-head">@Criterion.LitterFreeWater.GetDescription()</div></th>
                <th><div class="criterion-head">@Criterion.FeetFriendlyBottom.GetDescription()</div></th>
                <th><div class="criterion-head">@Criterion.SeaLifeDiversity.GetDescription()</div></th>
                <th><div class="criterion-head">@Criterion.CoralReef.GetDescription()</div></th>
                <th><div class="criterion-head">@Criterion.Snorkeling.GetDescription()</div></th>
                <th><div class="criterion-head">@Criterion.Kayaking.GetDescription()</div></th>
                <th><div class="criterion-head">@Criterion.Walking.GetDescription()</div></th>
                <th><div class="criterion-head">@Criterion.Camping.GetDescription()</div></th>
                <th><div class="criterion-head">@Criterion.LongTermStay.GetDescription()</div></th>
            </tr>
        </thead>
        <tbody class="datatables-body">
            @Html.DisplayFor(m => m.Rows)
        </tbody>
    </table>

    <div class="movable-watchlist"></div>
</div>