@model LocationBeachesViewModel

@{
    if (!this.Request.IsAjaxRequest())
    {
        @Styles.Render("~/Content/Internal/location.css")

        <h2>@Model.Name</h2>

        <hr />

        <div id="beaches-result" class="custom-canvas col-xs-10 col-xs-offset-1">
            @Html.DisplayFor(model => model.Beaches)

            <div class="loading-image-container">
                <img id="loading-main-results-image" src="~/Content/Images/ajax-loader.gif" alt="Loading" style="display: none;" />
            </div>
        </div>

        @section Scripts {
            @Scripts.Render("~/Scripts/Internal/location.js")
        }
    }
    else
    {
        @Html.DisplayFor(model => model.Beaches)
    }
}