@model BeachRankings.App.Models.ViewModels.LocationBeachesViewModel

@{
    if (!this.Request.IsAjaxRequest())
    {
        @Styles.Render("~/Content/Internal/location.css")

        this.Layout = "~/Views/Shared/_Layout.cshtml";

        <h3>@Model.Name</h3>

        <hr />

        <div id="beaches-result">
            @Html.DisplayFor(model => model.Beaches)

            <div class="loading-image-container">
                <img id="loading-main-results-image" src="~/Content/Images/ajax-loader.gif" alt="Loading" style="display: none;" />
            </div>
        </div>

        @section Scripts {
            @Scripts.Render("~/Scripts/Internal/location.js")
        }
    }
    else
    {
        this.Layout = null;

        @Html.DisplayFor(model => model.Beaches)
    }
}