@model BeachRowViewModel

<tr>
    <td class="text-left">
        <a href="/Beaches/Details/@Model.BeachId">@Model.BeachName</a>

        @if (Model.ReviewId != null)
        {
            <a href="/Reviews/Details/@Model.ReviewId"
               class="user-review-view-icon a-like-span glyphicon glyphicon-eye-open"
               title="Go to review page"
               target="_blank">
            </a>
        }

        @{
            if (this.User.Identity.IsAuthenticated)
            {
                <span data-watchlist-trigger="@Model.BeachId" class="watchlist-trigger a-like-span control glyphicon glyphicon-star"
                      title="Add to watchlist"></span>
                <div class="watchlist-overview"></div>
            }
        }
    </td>
    <td class="text-left"><a href="/Countries/Statistics/@Model.CountryId">@Model.Country</a></td>
    <td class="text-left"><a href="/PrimaryDivisions/Statistics/@Model.PrimaryDivisionId">@Model.PrimaryDivision</a></td>
    <td class="text-left"><a href="/SecondaryDivisions/Statistics/@Model.SecondaryDivisionId">@Model.SecondaryDivision</a></td>
    <td class="text-left"><a href="/TertiaryDivisions/Statistics/@Model.TertiaryDivisionId">@Model.TertiaryDivision</a></td>
    <td class="text-left"><a href="/QuaternaryDivisions/Statistics/@Model.QuaternaryDivisionId">@Model.QuaternaryDivision</a></td>
    <td class="text-left"><a href="/WaterBodies/Statistics/@Model.WaterBodyId">@Model.WaterBody</a></td>
    <td class="bold text-center">@Model.TotalScore</td>
    <td>@Model.SandQuality</td>
    <td>@Model.BeachCleanliness</td>
    <td>@Model.BeautifulScenery</td>
    <td>@Model.CrowdFree</td>
    <td>@Model.Infrastructure</td>
    <td>@Model.WaterVisibility</td>
    <td>@Model.LitterFree</td>
    <td>@Model.FeetFriendlyBottom</td>
    <td>@Model.SeaLifeDiversity</td>
    <td>@Model.CoralReef</td>
    <td>@Model.Snorkeling</td>
    <td>@Model.Kayaking</td>
    <td>@Model.Walking</td>
    <td>@Model.Camping</td>
    <td>@Model.LongTermStay</td>
</tr>