@model BeachRankings.App.Models.ViewModels.BeachTableRowViewModel

<tr>
    <td class="text-left"><a href="/Beaches/Details/@Model.Id">@Model.Name</a></td>
    <td class="text-left"><a href="/Countries/Beaches/@Model.CountryId">@Model.Country</a></td>
    <td class="text-left"><a href="/PrimaryDivisions/Beaches/@Model.PrimaryDivisionId">@Model.PrimaryDivision</a></td>
    <td><a href="/SecondaryDivisions/Beaches/@Model.SecondaryDivisionId">@Model.SecondaryDivision</a></td>
    <td><a href="/TertiaryDivisions/Beaches/@Model.TertiaryDivisionId">@Model.TertiaryDivision</a></td>
    <td><a href="/QuaternaryDivisions/Beaches/@Model.QuaternaryDivisionId">@Model.QuaternaryDivision</a></td>
    <td><a href="/WaterBodies/Beaches/@Model.WaterBodyId">@Model.WaterBody</a></td>
    <td class="bold">@Model.TotalScore</td>
    <td>@Model.SandQuality</td>
    <td>@Model.BeachCleanliness</td>
    <td>@Model.BeautifulScenery</td>
    <td>@Model.CrowdFree</td>
    <td>@Model.WaterPurity</td>
    <td>@Model.WasteFreeSeabed</td>
    <td>@Model.FeetFriendlyBottom</td>
    <td>@Model.SeaLifeDiversity</td>
    <td>@Model.CoralReef</td>
    <td>@Model.Walking</td>
    <td>@Model.Snorkeling</td>
    <td>@Model.Kayaking</td>
    <td>@Model.Camping</td>
    <td>@Model.LongTermStay</td>
    <td>@Model.Infrastructure</td>
</tr>