@model App.Models.ViewModels.ConciseBeachViewModel

<div class="row panel panel-primary">
    <div class="col-md-4">
        <div class="beach-img-container">
            <img src="@Model.ImagePath" alt="No photo available" />
        </div>
    </div>
    <div class="col-md-8">
        <div>
            <h4>
                <a href="~/Beaches/Details?id=@Model.Id">@Model.Name</a>
            </h4>
            <h5>@Model.Location</h5>
        </div>
        <div>
            <span>
                @{
                    string score = (string.IsNullOrEmpty(Model.TotalScore.ToString()) ? 
                        "This beach has no score yet. Be the first to rate it." : 
                        Model.TotalScore.ToString());
                } 
                Score: @score                
            </span>
        </div>
    </div>

    <hr />

    <div class="col-md-4">
        <p>@Model.Description</p>
    </div>

    <div class="row">
        @Html.ActionLink("Rate this beach", "Rate", controllerName: "Reviews", routeValues: new { id = Model.Id }, htmlAttributes: null)
    </div>
</div>