@model ConciseReviewViewModel

<div data-expanded="false" data-already-loaded="false" class="concise-review row custom-canvas">
    <div class="col-md-2">
        <div class="review-avatar-box text-center">
            <img class="avatar-img img-responsive" src="@Model.AvatarPath" alt="No profile photo" />
        </div>
        <div class="text-center"><h4>@Model.UserName</h4></div>
        <div class="text-left">
            <h5>
                @Html.PluralizeValue(@Model.CountriesVisited, "country"), @Html.ActionLink(
                    linkText: Html.PluralizeValue(Model.ReviewsCount, "beach").ToString(), 
                    actionName: "Reviews", 
                    controllerName: "User", 
                    routeValues: new { authorId = Model.AuthorId },
                    htmlAttributes: null)
            </h5>
        </div>
        <div class="text-left">Level @Model.Level traveller</div>
        <div class="text-left">
            <h6>@Model.PostedOn.ToString("MMM d, yyyy")</h6>
        </div>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-xs-12">
                <div class="review-upvotes pull-left col-xs-2">
                    <h4 class="text-left">
                        <i>+ @Model.Upvotes</i>
                    </h4>
                </div>
                <div class="beach-score-box beach-score-box-extended pull-right col-xs-12">
                    <div class="vertical-center">@Html.ParseNullableValue(Model.TotalScore, "-")</div>
                </div>
            </div>         
        </div>
        <div class="row">
            <p class="review-content text-justify">@Model.Content</p>
        </div>        
    </div>
    <div class="col-xs-10">
        @{
            if (User.Identity.CanEditReview(Model.AuthorId))
            {
                <div class="pull-right text-right col-xs-2">
                    <a class="control a-like-span glyphicon glyphicon-edit" title="Edit review" href="/Reviews/Edit/@Model.Id"></a>
                    <a class="control a-like-span glyphicon glyphicon-remove" title="Delete review" href="/Reviews/Delete/@Model.Id"></a>
                </div>
            }
        }
        @{
            if (User.Identity.CanVoteForReview(Model.AuthorId))
            {
                <div class="pull-right text-right col-xs-1">
                    <span data-review-id="@Model.Id" data-already-upvoted="@Model.AlreadyUpvoted" class="icon-upvote a-like-span control glyphicon glyphicon-thumbs-up" title="Give thanks"></span>
                </div>
            }
        }
        <span data-review-id="@Model.Id" title="More information" class="a-like-span review-expand glyphicon glyphicon-chevron-down text-right"></span>
    </div>
    <div class="row review-details"></div>
</div>