@using BeachRankings.App.Utils.Extensions
@model BeachRankings.App.Models.ViewModels.ConciseBeachViewModel

<div class="row concise-beach">
    <div class="col-md-3">
        <div class="beach-thumbnail">
            @{
                if (!string.IsNullOrEmpty(Model.ImagePath))
                {
                    <a href="@Model.ImagePath" data-lightbox="beach-image-@Model.Name">
                        <img src="@Model.ImagePath" alt="Add a photo" />
                    </a>
                }
                else
                {
                    <span>Add a photo</span>
                }
            }            
        </div>
    </div>
    <div class="col-md-6">
        <div class="pull-left">
            <h4 class="disable-block">
                <a href="~/Beaches/Details?id=@Model.Id">@Model.Name</a>
            </h4>
            <h5 class="disable-block"><i>@Model.SecondaryDivision, @Model.Country</i></h5>
        </div>
        <p class="concise-beach-desc pull-left">@Model.Description</p>
    </div>
    <div class="col-md-3 text-right">
        <div class="beach-score-box pull-right">
            <div class="vertical-center">@Html.ParseNullableValue(Model.TotalScore, "-")</div>
        </div>
        <div class="score-reviews-count">by @Html.PluralizeValue(@Model.ReviewsCount, "user")</div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-right">
            @Html.ActionLink("Rate this beach", "Post", controllerName: "Reviews", routeValues: new { id = Model.Id }, htmlAttributes: null)
        </div>
    </div>
</div>