@model ConciseBeachViewModel

<div class="row concise-beach places-background">
    <div class="col-sm-4 col-xs-12">
        <div class="beach-thumbnail">
            @{
                if (!string.IsNullOrEmpty(Model.ImagePath))
                {
                    <a href="@Model.ImagePath" data-lightbox="beach-image-@Model.Name">
                        <img class="img-responsive" src="@Model.ImagePath" alt="No image" />
                    </a>
                }
            }
        </div>
    </div>
    <div class="col-sm-8 col-xs-12">
        <div class="text-left">
            <div>
                <h4 class="disable-block">
                    <a href="~/Beaches/Details?id=@Model.Id">@Model.Name</a>
                </h4>
                <h5 class="disable-block"><i>@Html.ParseNullString(Model.SecondaryDivision, Model.PrimaryDivision), @Model.Country</i></h5>
            </div>
            <div class="beach-score-box display-inline-block">
                <div class="vertical-center">@Html.ParseNullableValue(Model.TotalScore, "-")</div>
            </div>
            <div>by @Html.PluralizeValue(@Model.ReviewsCount, "user")</div>
            <div>
                @{
                    if (!Convert.ToBoolean(Model.UserHasRated))
                    {
                        @Html.ActionLink("Rate this beach", "Post", "Reviews", new { id = Model.Id }, new { @class = "btn btn-cta" })
                    }
                    else
                    {
                        <div class="already-rated-holder">
                            <span class="already-rated glyphicon glyphicon-ok-circle" title="Already rated"></span>
                        </div>
                    }
                }
            </div>
        </div>        
    </div>    
</div>