@model App.Models.ViewModels.ConciseReviewViewModel

<div class="row">
    <div class="col-md-2">
        <img src="@Model.AvatarPath" alt="No profile photo" />
        <div class="row">
            <span>@Model.UserName</span>
        </div>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-8">
                @{
                    string score = (string.IsNullOrEmpty(Model.TotalScore.ToString()) ?
                        "This user hasn't rated the beach." :
                        Model.TotalScore.ToString());
                }
                <div>Score: @score | @Model.PostedOn</div>
            </div>
            <div class="col-md-4">
            </div>            
        </div>
        <div class="row">
            <p>@Model.Content</p>
        </div>
        <div class="row">
            <span>@Html.ActionLink("Read the entire review", "Details", 
                 controllerName: "Reviews", 
                 routeValues: new { id = Model.Id }, 
                 htmlAttributes: null)
            </span>
        </div>
    </div>
</div>