@model ContributorVerticalViewModel

<div class="contributor row">
    <div class="col-sm-2 col-xs-12">
        <div class="review-avatar-box text-center">
            <img class="avatar-img img-responsive" src="@Model.AvatarPath" alt="No profile photo" />
        </div>
    </div>
    <div class="col-xs-10">
        <div class="text-left">
            <h1 class="user-name">
                <a href="/User/Reviews?authorId=@Model.Id" target="_blank" title="View reviews">@Model.UserName</a>
            </h1>
        </div>
        @{
            if (Model.IsBlogger)
            {
                <div class="text-left"><a href="@Html.AttachSchemeToDomain(@Model.BlogUrl)" target="_blank">@Model.BlogUrl</a></div>
            }
        }
        <div class="text-left">
            <div class="text-left">Level @Model.Level traveller</div>
            <h5>
                @Html.PluralizeValue(@Model.CountriesVisited, "country"), @Html.ActionLink(
                    linkText: Html.PluralizeValue(Model.ReviewsCount, "beach").ToString(),
                    actionName: "Reviews",
                    controllerName: "User",
                    routeValues: new { authorId = Model.Id },
                    htmlAttributes: null)
            </h5>
            <h6>Thanked @Html.PluralizeValue(@Model.ThanksReceived, "time")</h6>
        </div>
    </div>
</div>
