@model CrossTableRowViewModel

<tr>
    <td class="crosstable-rank-by">
        <div>
            <span><strong>@Model.RankBy</strong></span>

            <div class="popup-container pull-right">
                <span class="info-icon glyphicon glyphicon-info-sign"></span>
                <div class="custom-popup" style="display: none;">
                    @Html.ToUnorderedList(Model.FilterDescriptors)
                </div>
            </div>
        </div>
    </td>

    <td>
        <div>
            <span>
                @Html.GenerateAnchorTagIfNotNull(
                           Model.WorldRank, -1,
                           Model.WorldRank.ToString(),
                           "-",
                           "FilteredStatistics",
                           "World",
                           new { id = 1, filterType = Model.FilterType.ToString() })
            </span>
        </div>
    </td>

    <td>
        <div>
            <span>
                @Html.GenerateAnchorTagIfNotNull(
                           Model.ContinentRank, -1,
                           Model.ContinentRank.ToString(),
                           "-",
                           "FilteredStatistics",
                           "Continents",
                           new { id = Model.ContinentId, filterType = Model.FilterType.ToString() })
            </span>
        </div>
    </td>

    <td>
        <div>
            <span>
                @Html.GenerateAnchorTagIfNotNull(
                            Model.CountryRank, -1,
                            Model.CountryRank.ToString(),
                            "-",
                            "FilteredStatistics",
                            "Countries",
                            new { id = Model.CountryId, filterType = Model.FilterType.ToString() })
            </span>
        </div>
    </td>

    <td>
        <div>
            <span>
                @Html.GenerateAnchorTagIfNotNull(
                            Model.AreaRank, -1,
                            Model.AreaRank.ToString(),
                            "-",
                            "FilteredStatistics",
                            "PrimaryDivisions",
                            new { id = Model.PrimaryDivisionId, filterType = Model.FilterType.ToString() })
            </span>
        </div>
    </td>

    <td>
        <div>
            <span>
                @Html.GenerateAnchorTagIfNotNull(
                            Model.WaterBodyRank, -1,
                            Model.WaterBodyRank.ToString(),
                            "-",
                            "FilteredStatistics",
                            "WaterBodies",
                            new { id = Model.WaterBodyId, filterType = Model.FilterType.ToString() })
            </span>
        </div>
    </td>
</tr>