@model ExportScoresAsHtmlViewModel

<tr style="border-bottom: 2px solid #ddd;">
    <td style="background-color: #f9d054; border-right: 2px solid #ddd; font-size: 15px; max-width: 200px;"><div style="text-align: center; padding: 5px"><span>@Html.GetReviewBeachName(Model.Name, null, null)</span></div></td>
    <td style="background-color: #f9d054; border-right: 2px solid #ddd; font-size: 15px;"><div style="text-align: center; padding: 5px"><span>@Html.ParseNullableValue(Model.SandQuality, "-")</span></div></td>
    <td style="background-color: #f9d054; border-right: 2px solid #ddd; font-size: 15px;"><div style="text-align: center; padding: 5px"><span>@Html.ParseNullableValue(Model.BeachCleanliness, "-")</span></div></td>
    <td style="background-color: #f9d054; border-right: 2px solid #ddd; font-size: 15px;"><div style="text-align: center; padding: 5px"><span>@Html.ParseNullableValue(Model.BeautifulScenery, "-")</span></div></td>
    <td style="background-color: #f9d054; border-right: 2px solid #ddd; font-size: 15px;"><div style="text-align: center; padding: 5px"><span>@Html.ParseNullableValue(Model.CrowdFree, "-")</span></div></td>
    <td style="background-color: #f9d054; border-right: 2px solid #ddd; font-size: 15px;"><div style="text-align: center; padding: 5px"><span>@Html.ParseNullableValue(Model.Infrastructure, "-")</span></div></td>
    <td style="background-color: #5dbcf7; border-right: 2px solid #ddd; font-size: 15px;"><div style="text-align: center; padding: 5px"><span>@Html.ParseNullableValue(Model.WaterVisibility, "-")</span></div></td>
    <td style="background-color: #5dbcf7; border-right: 2px solid #ddd; font-size: 15px;"><div style="text-align: center; padding: 5px"><span>@Html.ParseNullableValue(Model.LitterFree, "-")</span></div></td>
    <td style="background-color: #5dbcf7; border-right: 2px solid #ddd; font-size: 15px;"><div style="text-align: center; padding: 5px"><span>@Html.ParseNullableValue(Model.FeetFriendlyBottom, "-")</span></div></td>
    <td style="background-color: #5dbcf7; border-right: 2px solid #ddd; font-size: 15px;"><div style="text-align: center; padding: 5px"><span>@Html.ParseNullableValue(Model.SeaLifeDiversity, "-")</span></div></td>
    <td style="background-color: #5dbcf7; border-right: 2px solid #ddd; font-size: 15px;"><div style="text-align: center; padding: 5px"><span>@Html.ParseNullableValue(Model.CoralReef, "-")</span></div></td>
    <td style="background-color: #6bff6b; border-right: 2px solid #ddd; font-size: 15px;"><div style="text-align: center; padding: 5px"><span>@Html.ParseNullableValue(Model.Snorkeling, "-")</span></div></td>
    <td style="background-color: #6bff6b; border-right: 2px solid #ddd; font-size: 15px;"><div style="text-align: center; padding: 5px"><span>@Html.ParseNullableValue(Model.Kayaking, "-")</span></div></td>
    <td style="background-color: #6bff6b; border-right: 2px solid #ddd; font-size: 15px;"><div style="text-align: center; padding: 5px"><span>@Html.ParseNullableValue(Model.Walking, "-")</span></div></td>
    <td style="background-color: #6bff6b; border-right: 2px solid #ddd; font-size: 15px;"><div style="text-align: center; padding: 5px"><span>@Html.ParseNullableValue(Model.Camping, "-")</span></div></td>
    <td style="background-color: #6bff6b; border-right: 2px solid #ddd; font-size: 15px;"><div style="text-align: center; padding: 5px"><span>@Html.ParseNullableValue(Model.LongTermStay, "-")</span></div></td>
    <td style="background-color: #dcc120; border-right: 2px solid #ddd; font-size: 15px;"><div style="text-align: center; padding: 5px"><span><strong>@Html.ParseNullableValue(Model.TotalScore, "-")</strong></span></div></td>
</tr>