@model ExternalLoginConfirmationViewModel

@Styles.Render("~/Content/Internal/account.css")

@{
    ViewBag.Title = "Register";
}

<div id="register-container" class="custom-canvas col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
    <h2>@ViewBag.Title</h2>
    <h3>Associate your @ViewBag.LoginProvider account</h3>

    @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <p class="text-info">
            You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
            Please enter your details below and click the Register button to finish
            logging in.
        </p>

        <div class="form-group">
            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })

            <div class="col-md-10">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })

            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 text-left">
                <div id="blogger-checkbox-container" class="disable-block checkbox-extended">
                    @Html.CheckBoxFor(m => m.IsBlogger, new { id = "checkbox-blogger" })
                    @Html.LabelFor(m => m.IsBlogger)
                    <span class="info-icon glyphicon glyphicon-info-sign"></span>
                    <div class="custom-popup-container" style="display: none;">
                        <div class="custom-popup custom-canvas">
                            We will put a link to your blog in every review you leave.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="register-blog" class="form-group display-none">
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.BlogUrl, new { @class = "form-control form-control-extended custom-focus-black", @placeholder = "For example, http://www.myblog.com/" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-cta" value="Register" />
            </div>
        </div>
    }
</div>

@section Scripts {
    
    @Scripts.Render("~/Scripts/Internal/account.js")
}
