@model RegisterViewModel

@Styles.Render("~/Content/Internal/register.css")

@{
    ViewBag.Title = "BeachesDb Signup";
}

<div id="register-container" class="custom-canvas col-xs-6 col-xs-offset-3">
    <h3>Create a BeachesDb account</h3>
    <hr />

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()        
        <div class="col-xs-10 col-xs-offset-1">
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control form-control-extended custom-focus-black", @placeholder = "Username" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-extended custom-focus-black", @placeholder = "Email" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-extended custom-focus-black", @placeholder = "Password" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-control-extended custom-focus-black", @placeholder = "Confirm password" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-cta pull-right" value="Register" />
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}