@model CriteriaViewModel

<table style="border-collapse: collapse;
	border-radius: 1px;
	box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);">
    <thead style="background-color: #ddd;">
        <tr style="text-align: left;">
            <th></th>
            <th style="padding-left: 5px;">Criteria</th>
            <th style="text-align: right; padding-right: 5px;">Score</th>
        </tr>
    </thead>

    <tbody>
        <tr style="background-color: #f9d054;">
            <td rowspan="5" style="text-align: center; padding: 0px 5px 0 5px; border-right: 2px solid #ddd;"><b>Beach</b></td>
            <td style="border-bottom: 2px solid #ddd; padding-left: 5px;">Sand quality</td>
            <td style="border-bottom: 2px solid #ddd; text-align: right; padding-right: 5px;">@Html.ParseNullableValue(Model.SandQuality, "-")</td>
        </tr>
        <tr style="background-color: #f9d054;">
            <td style="border-bottom: 2px solid #ddd; padding-left: 5px;">Beach cleanliness</td>
            <td style="border-bottom: 2px solid #ddd; text-align: right; padding-right: 5px;">@Html.ParseNullableValue(Model.BeachCleanliness, "-")</td>
        </tr>
        <tr style="background-color: #f9d054;">
            <td style="border-bottom: 2px solid #ddd; padding-left: 5px;">Beautiful scenery</td>
            <td style="border-bottom: 2px solid #ddd; text-align: right; padding-right: 5px;">@Html.ParseNullableValue(Model.BeautifulScenery, "-")</td>
        </tr>
        <tr style="background-color: #f9d054;">
            <td style="border-bottom: 2px solid #ddd; padding-left: 5px;">Crowd-free</td>
            <td style="border-bottom: 2px solid #ddd; text-align: right; padding-right: 5px;">@Html.ParseNullableValue(Model.CrowdFree, "-")</td>
        </tr>
        <tr style="background-color: #f9d054">
            <td style="border-bottom: 2px solid #ddd; padding-left: 5px;">Environment-friendly infrastructure</td>
            <td style="border-bottom: 2px solid #ddd; text-align: right; padding-right: 5px;">@Html.ParseNullableValue(Model.Infrastructure, "-")</td>
        </tr>

        <tr style="background-color: #5dbcf7;">
            <td rowspan="5" style="text-align: center; border-right: 2px solid #ddd;"><b>Water</b></td>
            <td style="border-bottom: 2px solid #ddd; padding-left: 5px;">Water visibility</td>
            <td style="border-bottom: 2px solid #ddd; text-align: right; padding-right: 5px;">@Html.ParseNullableValue(Model.WaterVisibility, "-")</td>
        </tr>
        <tr style="background-color: #5dbcf7;">
            <td style="border-bottom: 2px solid #ddd; padding-left: 5px;">Litter-free</td>
            <td style="border-bottom: 2px solid #ddd; text-align: right; padding-right: 5px;">@Html.ParseNullableValue(Model.LitterFree, "-")</td>
        </tr>
        <tr style="background-color: #5dbcf7;">
            <td style="border-bottom: 2px solid #ddd; padding-left: 5px;">Feet-friendly bottom</td>
            <td style="border-bottom: 2px solid #ddd; text-align: right; padding-right: 5px;">@Html.ParseNullableValue(Model.FeetFriendlyBottom, "-")</td>
        </tr>
        <tr style="background-color: #5dbcf7;">
            <td style="border-bottom: 2px solid #ddd; padding-left: 5px;">Sea life diversity</td>
            <td style="border-bottom: 2px solid #ddd; text-align: right; padding-right: 5px;">@Html.ParseNullableValue(Model.SeaLifeDiversity, "-")</td>
        </tr>
        <tr style="background-color: #5dbcf7;">
            <td style="border-bottom: 2px solid #ddd; padding-left: 5px;">Coral reef wow factor</td>
            <td style="border-bottom: 2px solid #ddd; text-align: right; padding-right: 5px;">@Html.ParseNullableValue(Model.CoralReef, "-")</td>
        </tr>

        <tr style="background-color: #6bff6b;">
            <td rowspan="5" style="text-align: center; border-right: 2px solid #ddd;"><b>Activities</b></td>
            <td style="border-bottom: 2px solid #ddd; padding-left: 5px;">Snorkeling</td>
            <td style="border-bottom: 2px solid #ddd; text-align: right; padding-right: 5px;">@Html.ParseNullableValue(Model.Snorkeling, "-")</td>
        </tr>
        <tr style="background-color: #6bff6b;">
            <td style="border-bottom: 2px solid #ddd; padding-left: 5px;">Kayaking</td>
            <td style="border-bottom: 2px solid #ddd; text-align: right; padding-right: 5px;">@Html.ParseNullableValue(Model.Kayaking, "-")</td>
        </tr>
        <tr style="background-color: #6bff6b;">
            <td style="border-bottom: 2px solid #ddd; padding-left: 5px;">Taking a walk</td>
            <td style="border-bottom: 2px solid #ddd; text-align: right; padding-right: 5px;">@Html.ParseNullableValue(Model.Walking, "-")</td>
        </tr>
        <tr style="background-color: #6bff6b;">
            <td style="border-bottom: 2px solid #ddd; padding-left: 5px;">Camping</td>
            <td style="border-bottom: 2px solid #ddd; text-align: right; padding-right: 5px;">@Html.ParseNullableValue(Model.Camping, "-")</td>
        </tr>
        <tr style="background-color: #6bff6b">
            <td style="padding-left: 5px;">Long-term stay</td>
            <td style="text-align: right; padding-right: 5px;">@Html.ParseNullableValue(Model.LongTermStay, "-")</td>
        </tr>
    </tbody>
</table>