@model DetailedReviewViewModel

<div class="review review-container col-xs-12">
    @Html.Partial("_BeachHeadPartial", Model.BeachHead)

    <div class="beach-reviews-container col-lg-8 col-lg-offset-3 col-sm-10 col-sm-offset-2 col-xs-12">
        <div id="detailed-review-container" class="custom-canvas row">
            @Html.Partial("_ReviewUserPartial", Model.ReviewUser)

            <div class="col-md-10">
                @Html.Partial("_ReviewHeadPartial", Model.ReviewHead)

                <div class="row">
                    <div class="col-xs-11">
                        <p class="review-content text-justify">@Model.Content</p>
                        @{
                            if (Model.IsBlogger && Model.BlogArticles.Count() > 0)
                            {
                                <div class="blogger-review-part">
                                    <div class="text-left"><i>Read more about it on my blog</i>:</div>
                                    <div class="text-left">
                                        @Html.DisplayFor(model => model.BlogArticles)
                                    </div>
                                </div>
                            }
                        }

                        @{
                            if (!string.IsNullOrEmpty(Model.TotalScore.ToString()))
                            {
                                <div class="row">
                                    <div class="col-sm-12">
                                        <!--Beach-->
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.SandQuality, htmlAttributes: new { @class = "control-label text-left col-sm-3" })
                                            <div class="col-sm-9">
                                                <div class="criterion-score-box col-xs-1"><div class="vertical-center">@Model.SandQuality</div></div>
                                                <div class="criterion-progress-bar col-xs-10 col-no-padding">
                                                    <span id="sand-quality-meter"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.BeachCleanliness, htmlAttributes: new { @class = "control-label text-left col-sm-3" })
                                            <div class="col-sm-9">
                                                <div class="criterion-score-box col-xs-1"><div class="vertical-center">@Model.BeachCleanliness</div></div>
                                                <div class="criterion-progress-bar col-xs-10 col-no-padding">
                                                    <span id="beach-cleanliness-meter"></span>
                                                </div>
                                            </div>
                                        </div><span></span>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.BeautifulScenery, htmlAttributes: new { @class = "control-label text-left col-sm-3" })
                                            <div class="col-sm-9">
                                                <div class="criterion-score-box col-xs-1"><div class="vertical-center">@Model.BeautifulScenery</div></div>
                                                <div class="criterion-progress-bar col-xs-10 col-no-padding">
                                                    <span id="beautiful-scenery-meter"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.CrowdFree, htmlAttributes: new { @class = "control-label text-left col-sm-3" })
                                            <div class="col-sm-9">
                                                <div class="criterion-score-box col-xs-1"><div class="vertical-center">@Model.CrowdFree</div></div>
                                                <div class="criterion-progress-bar col-xs-10 col-no-padding">
                                                    <span id="crowd-free-meter"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.Infrastructure, htmlAttributes: new { @class = "control-label text-left col-sm-3" })
                                            <div class="col-sm-9">
                                                <div class="criterion-score-box col-xs-1"><div class="vertical-center">@Model.Infrastructure</div></div>
                                                <div class="criterion-progress-bar col-xs-10 col-no-padding">
                                                    <span id="infrastructure-meter"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End Beach-->
                                        <!--Sea-->
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.WaterVisibility, htmlAttributes: new { @class = "control-label text-left col-sm-3" })
                                            <div class="col-sm-9">
                                                <div class="criterion-score-box col-xs-1"><div class="vertical-center">@Model.WaterVisibility</div></div>
                                                <div class="criterion-progress-bar col-xs-10 col-no-padding">
                                                    <span id="water-visibility-meter"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.LitterFree, htmlAttributes: new { @class = "control-label text-left col-sm-3" })
                                            <div class="col-sm-9">
                                                <div class="criterion-score-box col-xs-1"><div class="vertical-center">@Model.LitterFree</div></div>
                                                <div class="criterion-progress-bar col-xs-10 col-no-padding">
                                                    <span id="litter-free-meter"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.FeetFriendlyBottom, htmlAttributes: new { @class = "control-label text-left col-sm-3" })
                                            <div class="col-sm-9">
                                                <div class="criterion-score-box col-xs-1"><div class="vertical-center">@Model.FeetFriendlyBottom</div></div>
                                                <div class="criterion-progress-bar col-xs-10 col-no-padding">
                                                    <span id="feet-friendly-bottom-meter"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.SeaLifeDiversity, htmlAttributes: new { @class = "control-label text-left col-sm-3" })
                                            <div class="col-sm-9">
                                                <div class="criterion-score-box col-xs-1"><div class="vertical-center">@Model.SeaLifeDiversity</div></div>
                                                <div class="criterion-progress-bar col-xs-10 col-no-padding">
                                                    <span id="sea-life-diversity-meter"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.CoralReef, htmlAttributes: new { @class = "control-label text-left col-sm-3" })
                                            <div class="col-sm-9">
                                                <div class="criterion-score-box col-xs-1"><div class="vertical-center">@Model.CoralReef</div></div>
                                                <div class="criterion-progress-bar col-xs-10 col-no-padding">
                                                    <span id="coral-reef-meter"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End Sea-->
                                        <!--Activities-->
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.Snorkeling, htmlAttributes: new { @class = "control-label text-left col-sm-3" })
                                            <div class="col-sm-9">
                                                <div class="criterion-score-box col-xs-1"><div class="vertical-center">@Model.Snorkeling</div></div>
                                                <div class="criterion-progress-bar col-xs-10 col-no-padding">
                                                    <span id="snorkeling-meter"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.Kayaking, htmlAttributes: new { @class = "control-label text-left col-sm-3" })
                                            <div class="col-sm-9">
                                                <div class="criterion-score-box col-xs-1"><div class="vertical-center">@Model.Kayaking</div></div>
                                                <div class="criterion-progress-bar col-xs-10 col-no-padding">
                                                    <span id="kayaking-meter"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.Walking, htmlAttributes: new { @class = "control-label text-left col-sm-3" })
                                            <div class="col-sm-9">
                                                <div class="criterion-score-box col-xs-1"><div class="vertical-center">@Model.Walking</div></div>
                                                <div class="criterion-progress-bar col-xs-10 col-no-padding">
                                                    <span id="walking-meter"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.Camping, htmlAttributes: new { @class = "control-label text-left col-sm-3" })
                                            <div class="col-sm-9">
                                                <div class="criterion-score-box col-xs-1"><div class="vertical-center">@Model.Camping</div></div>
                                                <div class="criterion-progress-bar col-xs-10 col-no-padding">
                                                    <span id="camping-meter"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.LongTermStay, htmlAttributes: new { @class = "control-label text-left col-sm-3" })
                                            <div class="col-sm-9">
                                                <div class="criterion-score-box col-xs-1"><div class="vertical-center">@Model.LongTermStay</div></div>
                                                <div class="criterion-progress-bar col-xs-10 col-no-padding">
                                                    <span id="long-term-stay-meter"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End Activities-->
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/review-details")
}

@section ReviewsStyles{
    @Styles.Render("~/Content/Internal/reviews.css")
    @Styles.Render("~/Content/Internal/beach-details.css")
    @Styles.Render("~/Content/External/slick/slick.css")
    @Styles.Render("~/Content/External/slick/slick-theme.css")
    @Styles.Render("~/Content/External/dragdealer.css")
    @Styles.Render("~/Content/External/lightGallery/css/lightgallery.min.css")
    @Styles.Render("~/Content/Internal/criteria-tables.css")
}