@model DetailedReviewViewModel

<div class="review review-container col-xs-12">
    @Html.Partial("_BeachHeadPartial", Model.BeachHead)

    <hr />

    <div class="beach-reviews-container col-xs-offset-3 col-xs-8">
        <div id="detailed-review-container" class="custom-canvas row">
            <div class="col-md-2">
                <div class="review-avatar-box text-center">
                    <img class="avatar-img img-responsive" src="@Model.AvatarPath" alt="No profile photo" />
                </div>
                <div class="text-center"><h4><a href="/User/Reviews?authorId=@Model.AuthorId">@Model.UserName</a></h4></div>
                @{
                    if (Model.IsBlogger)
                    {
                        <div class="text-left"><a href="@Html.AttachSchemeToDomain(@Model.BlogUrl)" target="_blank">My blog</a></div>
                    }
                }
                <div class="text-left">
                    <h5>
                        @Html.PluralizeValue(@Model.CountriesVisited, "country"), @Html.ActionLink(
                    linkText: Html.PluralizeValue(Model.ReviewsCount, "beach").ToString(),
                    actionName: "Reviews",
                    controllerName: "User",
                    routeValues: new { authorId = Model.AuthorId },
                    htmlAttributes: null)
                    </h5>
                </div>
                <div class="text-left">Level @Model.Level traveller</div>
                <div class="text-left">
                    <h6>@Model.PostedOn.ToString("MMM d, yyyy")</h6>
                </div>
            </div>

            <div class="col-md-10">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="review-upvotes pull-left col-xs-2">
                            <h4 class="text-left">
                                <i>+ @Model.Upvotes</i>
                            </h4>
                        </div>
                        <div class="beach-score-box beach-score-box-extended pull-right col-xs-12">
                            <div class="vertical-center">@Html.ParseNullableValue(Model.TotalScore, "-")</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-11">
                        <p class="review-content text-justify">@Model.Content</p>
                        @{
                            if (Model.IsBlogger)
                            {
                                <p class="text-left">
                                    Read more about it on my blog: @Html.DisplayFor(model => model.BlogArticles)
                                </p>
                            }
                        }

                        @{
                            if (!string.IsNullOrEmpty(Model.TotalScore.ToString()))
                            {
                                <div class="row">
                                    <div class="col-sm-12">
                                        <!--Beach-->
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.SandQuality, htmlAttributes: new { @class = "control-label text-left col-sm-3" })
                                            <div class="col-sm-9">
                                                <div class="criterion-score-box col-xs-1"><div class="vertical-center">@Model.SandQuality</div></div>
                                                <div class="criterion-progress-bar col-xs-10 col-no-padding">
                                                    <span id="sand-quality-meter"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.BeachCleanliness, htmlAttributes: new { @class = "control-label text-left col-sm-3" })
                                            <div class="col-sm-9">
                                                <div class="criterion-score-box col-xs-1"><div class="vertical-center">@Model.BeachCleanliness</div></div>
                                                <div class="criterion-progress-bar col-xs-10 col-no-padding">
                                                    <span id="beach-cleanliness-meter"></span>
                                                </div>
                                            </div>
                                        </div><span></span>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.BeautifulScenery, htmlAttributes: new { @class = "control-label text-left col-sm-3" })
                                            <div class="col-sm-9">
                                                <div class="criterion-score-box col-xs-1"><div class="vertical-center">@Model.BeautifulScenery</div></div>
                                                <div class="criterion-progress-bar col-xs-10 col-no-padding">
                                                    <span id="beautiful-scenery-meter"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.CrowdFree, htmlAttributes: new { @class = "control-label text-left col-sm-3" })
                                            <div class="col-sm-9">
                                                <div class="criterion-score-box col-xs-1"><div class="vertical-center">@Model.CrowdFree</div></div>
                                                <div class="criterion-progress-bar col-xs-10 col-no-padding">
                                                    <span id="crowd-free-meter"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.Infrastructure, htmlAttributes: new { @class = "control-label text-left col-sm-3" })
                                            <div class="col-sm-9">
                                                <div class="criterion-score-box col-xs-1"><div class="vertical-center">@Model.Infrastructure</div></div>
                                                <div class="criterion-progress-bar col-xs-10 col-no-padding">
                                                    <span id="infrastructure-meter"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End Beach-->
                                        <!--Sea-->
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.WaterVisibility, htmlAttributes: new { @class = "control-label text-left col-sm-3" })
                                            <div class="col-sm-9">
                                                <div class="criterion-score-box col-xs-1"><div class="vertical-center">@Model.WaterVisibility</div></div>
                                                <div class="criterion-progress-bar col-xs-10 col-no-padding">
                                                    <span id="water-visibility-meter"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.LitterFree, htmlAttributes: new { @class = "control-label text-left col-sm-3" })
                                            <div class="col-sm-9">
                                                <div class="criterion-score-box col-xs-1"><div class="vertical-center">@Model.LitterFree</div></div>
                                                <div class="criterion-progress-bar col-xs-10 col-no-padding">
                                                    <span id="litter-free-meter"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.FeetFriendlyBottom, htmlAttributes: new { @class = "control-label text-left col-sm-3" })
                                            <div class="col-sm-9">
                                                <div class="criterion-score-box col-xs-1"><div class="vertical-center">@Model.FeetFriendlyBottom</div></div>
                                                <div class="criterion-progress-bar col-xs-10 col-no-padding">
                                                    <span id="feet-friendly-bottom-meter"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.SeaLifeDiversity, htmlAttributes: new { @class = "control-label text-left col-sm-3" })
                                            <div class="col-sm-9">
                                                <div class="criterion-score-box col-xs-1"><div class="vertical-center">@Model.SeaLifeDiversity</div></div>
                                                <div class="criterion-progress-bar col-xs-10 col-no-padding">
                                                    <span id="sea-life-diversity-meter"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.CoralReef, htmlAttributes: new { @class = "control-label text-left col-sm-3" })
                                            <div class="col-sm-9">
                                                <div class="criterion-score-box col-xs-1"><div class="vertical-center">@Model.CoralReef</div></div>
                                                <div class="criterion-progress-bar col-xs-10 col-no-padding">
                                                    <span id="coral-reef-meter"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End Sea-->
                                        <!--Activities-->
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.Snorkeling, htmlAttributes: new { @class = "control-label text-left col-sm-3" })
                                            <div class="col-sm-9">
                                                <div class="criterion-score-box col-xs-1"><div class="vertical-center">@Model.Snorkeling</div></div>
                                                <div class="criterion-progress-bar col-xs-10 col-no-padding">
                                                    <span id="snorkeling-meter"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.Kayaking, htmlAttributes: new { @class = "control-label text-left col-sm-3" })
                                            <div class="col-sm-9">
                                                <div class="criterion-score-box col-xs-1"><div class="vertical-center">@Model.Kayaking</div></div>
                                                <div class="criterion-progress-bar col-xs-10 col-no-padding">
                                                    <span id="kayaking-meter"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.Walking, htmlAttributes: new { @class = "control-label text-left col-sm-3" })
                                            <div class="col-sm-9">
                                                <div class="criterion-score-box col-xs-1"><div class="vertical-center">@Model.Walking</div></div>
                                                <div class="criterion-progress-bar col-xs-10 col-no-padding">
                                                    <span id="walking-meter"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.Camping, htmlAttributes: new { @class = "control-label text-left col-sm-3" })
                                            <div class="col-sm-9">
                                                <div class="criterion-score-box col-xs-1"><div class="vertical-center">@Model.Camping</div></div>
                                                <div class="criterion-progress-bar col-xs-10 col-no-padding">
                                                    <span id="camping-meter"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.LongTermStay, htmlAttributes: new { @class = "control-label text-left col-sm-3" })
                                            <div class="col-sm-9">
                                                <div class="criterion-score-box col-xs-1"><div class="vertical-center">@Model.LongTermStay</div></div>
                                                <div class="criterion-progress-bar col-xs-10 col-no-padding">
                                                    <span id="long-term-stay-meter"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End Activities-->
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="review-controls-box col-xs-1">
                        <div class="col-xs-2">
                            @{
                                if (User.Identity.CanVoteForReview(Model.AuthorId))
                                {
                                    <div>
                                        <span data-review-id="@Model.Id" data-already-upvoted="@Model.AlreadyUpvoted" class="icon-upvote a-like-span control glyphicon glyphicon-thumbs-up" title="Give thanks"></span>
                                    </div>
                                }
                            }
                            <div>
                                <a data-html-export-review="@Model.Id" class="review-export control a-like-span glyphicon glyphicon-export" title="Export a summary of this review to HTML"></a>
                            </div>
                            @{
                                if (User.Identity.CanEditReview(Model.AuthorId))
                                {
                                    <div>
                                        <a class="control a-like-span glyphicon glyphicon-edit" title="Edit review" href="/Reviews/Edit/@Model.Id"></a>
                                    </div>
                                    <div>
                                        <a class="control a-like-span glyphicon glyphicon-remove" title="Delete review" href="/Reviews/Delete/@Model.Id"></a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Content/External/slick/slick.min.js")
    @Scripts.Render("~/Scripts/External/rainbowvis.js")
    @Scripts.Render("~/Scripts/External/dragdealer.js")
    @Scripts.Render("~/Scripts/Internal/dragdealers-manager.js")
    @Scripts.Render("~/Scripts/Internal/review-details.js")
}

@section ReviewsStyles{
    @Styles.Render("~/Content/Internal/reviews.css")
    @Styles.Render("~/Content/Internal/beach-details.css")
    @Styles.Render("~/Content/External/slick/slick.css")
    @Styles.Render("~/Content/External/slick/slick-theme.css")
    @Styles.Render("~/Content/External/dragdealer.css")
}