@model App.Models.ViewModels.EditReviewViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "submitReviewForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edit Review</h4>

        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-5">
                @Html.TextAreaFor(model => model.Content,
            new
            {
                data_review_content = "",
                @class = "form-control create-review-textarea",
                @rows = 5,
                @cols = 40,
                @style = "resize: none;",
                @placeholder = "Share your impressions of this beach"
            })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                <span class="pull-right"><sub>A minimum of 100 symbols</sub></span>
            </div>
        </div>

        <!--Beach-->
        <div class="form-group">
            @Html.LabelFor(model => model.SandQuality, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-5">
                <div id="sand-quality-dragdealer" class="dragdealer">
                    <div class="handle oval" data-sand-quality-handle="@Model.SandQuality"></div>
                </div>
            </div>
            <button class="btn reset-button" style="display: none;">Ignore</button>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BeachCleanliness, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-5">
                <div id="beach-cleanliness-dragdealer" class="dragdealer">
                    <div class="handle oval" data-beach-cleanliness-handle="@Model.BeachCleanliness"></div>
                </div>
            </div>
            <button class="btn reset-button" style="display: none;">Ignore</button>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BeautifulScenery, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-5">
                <div id="beautiful-scenery-dragdealer" class="dragdealer">
                    <div class="handle oval" data-beautiful-scenery-handle="@Model.BeautifulScenery"></div>
                </div>
            </div>
            <button class="btn reset-button" style="display: none;">Ignore</button>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CrowdFree, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-5">
                <div id="crowd-free-dragdealer" class="dragdealer">
                    <div class="handle oval" data-crowd-free-handle="@Model.CrowdFree"></div>
                </div>
            </div>
            <button class="btn reset-button" style="display: none;">Ignore</button>
        </div>  
        <!--End Beach-->

        <!--Sea-->
        <div class="form-group">
            @Html.LabelFor(model => model.WaterPurity, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-5">
                <div id="water-purity-dragdealer" class="dragdealer">
                    <div class="handle oval" data-water-purity-handle="@Model.WaterPurity"></div>
                </div>
            </div>
            <button class="btn reset-button" style="display: none;">Ignore</button>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WasteFreeSeabed, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-5">
                <div id="wastefree-seabed-dragdealer" class="dragdealer">
                    <div class="handle oval" data-wastefree-seabed-handle="@Model.WasteFreeSeabed"></div>
                </div>
            </div>
            <button class="btn reset-button" style="display: none;">Ignore</button>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FeetFriendlyBottom, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-5">
                <div id="feet-friendly-bottom-dragdealer" class="dragdealer">
                    <div class="handle oval" data-feet-friendly-bottom-handle="@Model.FeetFriendlyBottom"></div>
                </div>
            </div>
            <button class="btn reset-button" style="display: none;">Ignore</button>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SeaLifeDiversity, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-5">
                <div id="sea-life-diversity-dragdealer" class="dragdealer">
                    <div class="handle oval" data-sea-life-diversity-handle="@Model.SeaLifeDiversity"></div>
                </div>
            </div>
            <button class="btn reset-button" style="display: none;">Ignore</button>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CoralReef, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-5">
                <div id="coral-reef-dragdealer" class="dragdealer">
                    <div class="handle oval" data-coral-reef-handle="@Model.CoralReef"></div>
                </div>
            </div>
            <button class="btn reset-button" style="display: none;">Ignore</button>
        </div>   
        <!--End Sea-->       

        <!--Activities-->
        <div class="form-group">
            @Html.LabelFor(model => model.Walking, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-5">
                <div id="walking-dragdealer" class="dragdealer">
                    <div class="handle oval" data-walking-handle="@Model.Walking"></div>
                </div>
            </div>
            <button class="btn reset-button" style="display: none;">Ignore</button>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Snorkeling, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-5">
                <div id="snorkeling-dragdealer" class="dragdealer">
                    <div class="handle oval" data-snorkeling-handle="@Model.Snorkeling"></div>
                </div>
            </div>
            <button class="btn reset-button" style="display: none;">Ignore</button>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kayaking, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-5">
                <div id="kayaking-dragdealer" class="dragdealer">
                    <div class="handle oval" data-kayaking-handle="@Model.Kayaking"></div>
                </div>
            </div>
            <button class="btn reset-button" style="display: none;">Ignore</button>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Camping, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-5">
                <div id="camping-dragdealer" class="dragdealer">
                    <div class="handle oval" data-camping-handle="@Model.Camping"></div>
                </div>
            </div>
            <button class="btn reset-button" style="display: none;">Ignore</button>
        </div>
        <!--End Activities-->

        <!--Infrastructure-->
        <div class="form-group">
            @Html.LabelFor(model => model.Infrastructure, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-5">
                <div id="infrastructure-dragdealer" class="dragdealer">
                    <div class="handle oval" data-infrastructure-handle="@Model.Infrastructure"></div>
                </div>
            </div>
            <button class="btn reset-button" style="display: none;">Ignore</button>
        </div>
        <!--End Infrastructure-->

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input data-btn-submit-review="" type="submit" value="Save changes" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Top", "Beaches")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/External/dragdealer.js")
    @Scripts.Render("~/Scripts/External/rainbowvis.js")
    @Scripts.Render("~/Scripts/Internal/reviews.js")
}

@section ReviewsStyles {
    @Styles.Render("~/Content/External/dragdealer.css")
    @Styles.Render("~/Content/Internal/reviews.css")
}