@model PostReviewViewModel

@{ 
    ViewBag.Title = "Rate " + Model.BeachName;
}

<div class="review-container custom-canvas col-xs-10 col-xs-offset-1">   
    <div class="row">
        <div class="slick-carousel col-xs-4 col-xs-offset-3">
            @Html.DisplayFor(model => model.BeachImagePaths)
        </div>
        <div class="col-xs-4">
            <div class="row">
                <div class="col-xs-3 text-left">
                    <div class="beach-score-box beach-score-box-big">
                        <div class="vertical-center">@Html.ParseNullableValue(Model.BeachTotalScore, "-")</div>
                    </div>
                    <span class="display-block">@Html.PluralizeValue(Model.BeachReviewsCount, "review")</span>
                </div>
                <div class="review-header-info col-xs-8 text-left">
                    <h2><a href="/Beaches/Details/@Model.BeachId">@Model.BeachName</a></h2>
                    <h5>
                        <i>
                            <!-- We call ParseNullString in case the country has no primary divisions. Otherwise we would display something like ', Saint Helena' -->
                            @Html.ParseNullString(
                                @Html.GetBeachAnchorTagDivisionAddress(Model.BeachPrimaryDivision, Model.BeachSecondaryDivision, Model.PrimaryDivisionId, Model.SecondaryDivisionId) + ", ", 
                                null)
                            <a href="/Countries/Beaches/@Model.CountryId">@Model.BeachCountry</a>
                        </i>
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        @using (Html.BeginForm("Post", "Reviews", FormMethod.Post, new { id = "submit-review-form" }))
        {
            @Html.AntiForgeryToken()
            
            <div class="form-horizontal ">
                <hr />
                @Html.ValidationSummary(string.Empty, new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-5">
                        @Html.TextAreaFor(model => model.Content,
                            new
                            {
                                data_review_content = "",
                                @class = "form-control review-textarea custom-focus-black",
                                @rows = 5,
                                @cols = 40,
                                @placeholder = "Share your impressions of this beach"
                            })
                        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                        <span class="pull-right"><sub>A minimum of 100 symbols</sub></span>
                    </div>
                </div>

                @{ 
                    if (this.Model.IsBlogger)
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => model.ArticleLinks, new { @class = "control-label col-md-3" })
                            <div id="links-container" class="col-md-5">
                                <input type="text" class="blog-link form-control custom-focus-black" />
                            </div>                               
                            <div class="col-md-4 text-left">
                                <span class="add-more glyphicon glyphicon-plus-sign" title="Add another link"></span>
                            </div>                        
                            @Html.ValidationMessageFor(model => model.ArticleLinks, "", new { @class = "text-danger" })
                        </div>
                    }
                }

                <!--Beach-->
                <div class="form-group">
                    @Html.LabelFor(model => model.SandQuality, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-5">
                        <div id="sand-quality-dragdealer" class="dragdealer">
                            <div class="handle oval" data-sand-quality-handle="@Model.SandQuality"></div>
                        </div>
                    </div>                 
                    <div class="col-md-4 text-left">
                        <span class="info-icon glyphicon glyphicon-info-sign"></span>
                        <button class="btn btn-reset" style="display: none;">Ignore</button>                        
                    </div>
                    <div class="custom-popup custom-canvas" style="display: none;">
                        Lorem ipsum dolor sit amet, consecitur
                        Lorem ipsum dolor sit amet, consecitur
                        Lorem ipsum dolor sit amet, conseciturLorem ipsum dolor sit amet, consecitur
                    </div>                    
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.BeachCleanliness, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-5">
                        <div id="beach-cleanliness-dragdealer" class="dragdealer">
                            <div class="handle oval" data-beach-cleanliness-handle="@Model.BeachCleanliness"></div>
                        </div>
                    </div>
                    <div class="col-md-4 text-left">
                        <span class="info-icon glyphicon glyphicon-info-sign"></span>
                        <button class="btn btn-reset" style="display: none;">Ignore</button>
                    </div>
                    <div class="custom-popup custom-canvas" style="display: none;">
                        Lorem ipsum dolor sit amet, consecitur
                        Lorem ipsum dolor sit amet, conseciturLorem ipsum dolor sit amet, consecitur
                        Lorem ipsum dolor sit amet, consecitur
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.BeautifulScenery, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-5">
                        <div id="beautiful-scenery-dragdealer" class="dragdealer">
                            <div class="handle oval" data-beautiful-scenery-handle="@Model.BeautifulScenery"></div>
                        </div>
                    </div>
                    <div class="col-md-4 text-left">
                        <span class="info-icon glyphicon glyphicon-info-sign"></span>
                        <button class="btn btn-reset" style="display: none;">Ignore</button>
                    </div>
                    <div class="custom-popup custom-canvas" style="display: none;">
                        Lorem ipsum dolor sit amet, consecitur
                        Lorem ipsum dolor sit amet, consecitur
                        Lorem ipsum dolor sit amet, conseciturLorem ipsum dolor sit amet, consecitur
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CrowdFree, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-5">
                        <div id="crowd-free-dragdealer" class="dragdealer">
                            <div class="handle oval" data-crowd-free-handle="@Model.CrowdFree"></div>
                        </div>
                    </div>
                    <div class="col-md-4 text-left">
                        <span class="info-icon glyphicon glyphicon-info-sign"></span>
                        <button class="btn btn-reset" style="display: none;">Ignore</button>
                    </div>
                    <div class="custom-popup custom-canvas" style="display: none;">
                        Lorem ipsum dolor sit amet, consecitur
                        Lorem ipsum dolor sit amet, consecitur
                        Lorem ipsum dolor sit amet, conseciturLorem ipsum dolor sit amet, consecitur
                    </div>
                </div>
                <!--End Beach-->
                <!--Sea-->
                <div class="form-group">
                    @Html.LabelFor(model => model.WaterPurity, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-5">
                        <div id="water-purity-dragdealer" class="dragdealer">
                            <div class="handle oval" data-water-purity-handle="@Model.WaterPurity"></div>
                        </div>
                    </div>
                    <div class="col-md-4 text-left">
                        <span class="info-icon glyphicon glyphicon-info-sign"></span>
                        <button class="btn btn-reset" style="display: none;">Ignore</button>
                    </div>
                    <div class="custom-popup custom-canvas" style="display: none;">
                        Lorem ipsum dolor sit amet, consecitur
                        Lorem ipsum dolor sit amet, consecitur
                        Lorem ipsum dolor sit amet, conseciturLorem ipsum dolor sit amet, consecitur
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.WasteFreeSeabed, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-5">
                        <div id="wastefree-seabed-dragdealer" class="dragdealer">
                            <div class="handle oval" data-wastefree-seabed-handle="@Model.WasteFreeSeabed"></div>
                        </div>
                    </div>
                    <div class="col-md-4 text-left">
                        <span class="info-icon glyphicon glyphicon-info-sign"></span>
                        <button class="btn btn-reset" style="display: none;">Ignore</button>
                    </div>
                    <div class="custom-popup custom-canvas" style="display: none;">
                        Lorem ipsum dolor sit amet, consecitur
                        Lorem ipsum dolor sit amet, consecitur
                        Lorem ipsum dolor sit amet, conseciturLorem ipsum dolor sit amet, consecitur
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.FeetFriendlyBottom, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-5">
                        <div id="feet-friendly-bottom-dragdealer" class="dragdealer">
                            <div class="handle oval" data-feet-friendly-bottom-handle="@Model.FeetFriendlyBottom"></div>
                        </div>
                    </div>
                    <div class="col-md-4 text-left">
                        <span class="info-icon glyphicon glyphicon-info-sign"></span>
                        <button class="btn btn-reset" style="display: none;">Ignore</button>
                    </div>
                    <div class="custom-popup custom-canvas" style="display: none;">
                        Lorem ipsum dolor sit amet, consecitur
                        Lorem ipsum dolor sit amet, consecitur
                        Lorem ipsum dolor sit amet, conseciturLorem ipsum dolor sit amet, consecitur
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SeaLifeDiversity, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-5">
                        <div id="sea-life-diversity-dragdealer" class="dragdealer">
                            <div class="handle oval" data-sea-life-diversity-handle="@Model.SeaLifeDiversity"></div>
                        </div>
                    </div>
                    <div class="col-md-4 text-left">
                        <span class="info-icon glyphicon glyphicon-info-sign"></span>
                        <button class="btn btn-reset" style="display: none;">Ignore</button>
                    </div>
                    <div class="custom-popup custom-canvas" style="display: none;">
                        Lorem ipsum dolor sit amet, consecitur
                        Lorem ipsum dolor sit amet, consecitur
                        Lorem ipsum dolor sit amet, conseciturLorem ipsum dolor sit amet, consecitur
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CoralReef, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-5">
                        <div id="coral-reef-dragdealer" class="dragdealer">
                            <div class="handle oval" data-coral-reef-handle="@Model.CoralReef"></div>
                        </div>
                    </div>
                    <div class="col-md-4 text-left">
                        <span class="info-icon glyphicon glyphicon-info-sign"></span>
                        <button class="btn btn-reset" style="display: none;">Ignore</button>
                    </div>
                    <div class="custom-popup custom-canvas" style="display: none;">
                        Lorem ipsum dolor sit amet, consecitur
                        Lorem ipsum dolor sit amet, consecitur
                        Lorem ipsum dolor sit amet, conseciturLorem ipsum dolor sit amet, consecitur
                    </div>
                </div>
                <!--End Sea-->
                <!--Activities-->
                <div class="form-group">
                    @Html.LabelFor(model => model.Walking, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-5">
                        <div id="walking-dragdealer" class="dragdealer">
                            <div class="handle oval" data-walking-handle="@Model.Walking"></div>
                        </div>
                    </div>
                    <div class="col-md-4 text-left">
                        <span class="info-icon glyphicon glyphicon-info-sign"></span>
                        <button class="btn btn-reset" style="display: none;">Ignore</button>
                    </div>
                    <div class="custom-popup custom-canvas" style="display: none;">
                        Lorem ipsum dolor sit amet, consecitur
                        Lorem ipsum dolor sit amet, consecitur
                        Lorem ipsum dolor sit amet, conseciturLorem ipsum dolor sit amet, consecitur
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Snorkeling, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-5">
                        <div id="snorkeling-dragdealer" class="dragdealer">
                            <div class="handle oval" data-snorkeling-handle="@Model.Snorkeling"></div>
                        </div>
                    </div>
                    <div class="col-md-4 text-left">
                        <span class="info-icon glyphicon glyphicon-info-sign"></span>
                        <button class="btn btn-reset" style="display: none;">Ignore</button>
                    </div>
                    <div class="custom-popup custom-canvas" style="display: none;">
                        Lorem ipsum dolor sit amet, consecitur
                        Lorem ipsum dolor sit amet, consecitur
                        Lorem ipsum dolor sit amet, conseciturLorem ipsum dolor sit amet, consecitur
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Kayaking, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-5">
                        <div id="kayaking-dragdealer" class="dragdealer">
                            <div class="handle oval" data-kayaking-handle="@Model.Kayaking"></div>
                        </div>
                    </div>
                    <div class="col-md-4 text-left">
                        <span class="info-icon glyphicon glyphicon-info-sign"></span>
                        <button class="btn btn-reset" style="display: none;">Ignore</button>
                    </div>
                    <div class="custom-popup custom-canvas" style="display: none;">
                        Lorem ipsum dolor sit amet, consecitur
                        Lorem ipsum dolor sit amet, consecitur
                        Lorem ipsum dolor sit amet, conseciturLorem ipsum dolor sit amet, consecitur
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Camping, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-5">
                        <div id="camping-dragdealer" class="dragdealer">
                            <div class="handle oval" data-camping-handle="@Model.Camping"></div>
                        </div>
                    </div>
                    <div class="col-md-4 text-left">
                        <span class="info-icon glyphicon glyphicon-info-sign"></span>
                        <button class="btn btn-reset" style="display: none;">Ignore</button>
                    </div>
                    <div class="custom-popup custom-canvas" style="display: none;">
                        Lorem ipsum dolor sit amet, consecitur
                        Lorem ipsum dolor sit amet, consecitur
                        Lorem ipsum dolor sit amet, conseciturLorem ipsum dolor sit amet, consecitur
                    </div>
                </div>
                <!--End Activities-->
                <!--Infrastructure-->
                <div class="form-group">
                    @Html.LabelFor(model => model.Infrastructure, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-5">
                        <div id="infrastructure-dragdealer" class="dragdealer">
                            <div class="handle oval" data-infrastructure-handle="@Model.Infrastructure"></div>
                        </div>
                    </div>
                    <div class="col-md-4 text-left">
                        <span class="info-icon glyphicon glyphicon-info-sign"></span>
                        <button class="btn btn-reset" style="display: none;">Ignore</button>
                    </div>
                    <div class="custom-popup custom-canvas" style="display: none;">
                        Lorem ipsum dolor sit amet, consecitur
                        Lorem ipsum dolor sit amet, consecitur
                        Lorem ipsum dolor sit amet, conseciturLorem ipsum dolor sit amet, consecitur
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.LongTermStay, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-5">
                        <div id="long-term-stay-dragdealer" class="dragdealer">
                            <div class="handle oval" data-long-term-stay-handle="@Model.LongTermStay"></div>
                        </div>
                    </div>
                    <div class="col-md-4 text-left">
                        <span class="info-icon glyphicon glyphicon-info-sign"></span>
                        <button class="btn btn-reset" style="display: none;">Ignore</button>
                    </div>
                    <div class="custom-popup custom-canvas" style="display: none;">
                        Lorem ipsum dolor sit amet, consecitur
                        Lorem ipsum dolor sit amet, consecitur
                        Lorem ipsum dolor sit amet, conseciturLorem ipsum dolor sit amet, consecitur
                    </div>
                </div>
                <!--End Infrastructure-->
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input data-btn-submit-review="" type="submit" value="Post review" class="btn btn-cta" />
                    </div>
                </div>
            </div>

            @Html.HiddenFor(model => model.BeachId)
            @Html.HiddenFor(model => model.ArticleLinks, new { id = "hdn-article-links" })
            @Html.HiddenFor(model => model.SandQuality, new { id = "hdn-sand-quality" })
            @Html.HiddenFor(model => model.BeachCleanliness, new { id = "hdn-beach-cleanliness" })
            @Html.HiddenFor(model => model.BeautifulScenery, new { id = "hdn-beautiful-scenery" })
            @Html.HiddenFor(model => model.CrowdFree, new { id = "hdn-crowd-free" })
            @Html.HiddenFor(model => model.WaterPurity, new { id = "hdn-water-purity" })
            @Html.HiddenFor(model => model.WasteFreeSeabed, new { id = "hdn-wastefree-seadbed" })
            @Html.HiddenFor(model => model.FeetFriendlyBottom, new { id = "hdn-feet-friendly-bottom" })
            @Html.HiddenFor(model => model.SeaLifeDiversity, new { id = "hdn-sea-life-diversity" })
            @Html.HiddenFor(model => model.CoralReef, new { id = "hdn-coral-reef" })
            @Html.HiddenFor(model => model.Walking, new { id = "hdn-walking" })
            @Html.HiddenFor(model => model.Snorkeling, new { id = "hdn-snorkeling" })
            @Html.HiddenFor(model => model.Kayaking, new { id = "hdn-kayaking" })
            @Html.HiddenFor(model => model.Camping, new { id = "hdn-camping" })
            @Html.HiddenFor(model => model.Infrastructure, new { id = "hdn-infrastructure" })
            @Html.HiddenFor(model => model.LongTermStay, new { id = "hdn-long-term-stay" })
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/External/dragdealer.js")
    @Scripts.Render("~/Scripts/External/rainbowvis.js")
    @Scripts.Render("~/Content/External/slick/slick.min.js")
    @Scripts.Render("~/Scripts/Internal/dragdealers-manager.js")
    @Scripts.Render("~/Scripts/Internal/reviews.js")
}

@section ReviewsStyles {
    @Styles.Render("~/Content/External/dragdealer.css")
    @Styles.Render("~/Content/External/slick/slick.css")
    @Styles.Render("~/Content/External/slick/slick-theme.css")
    @Styles.Render("~/Content/Internal/reviews.css")
}