@model AddBeachViewModel

@{
    ViewBag.Title = "Add Beach";
}

<div id="beach-add-container" class="custom-canvas col-xs-10 col-xs-offset-1">
    @using (Html.BeginForm("Add", "Beaches", FormMethod.Post, new { id = "addBeachForm", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-6">
                <div class="form-horizontal">
                    <h2>Beach</h2>

                    <hr />

                    <div class="form-group">
                        @Html.LabelFor(model => model.CountryId, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-5">
                            @Html.DropDownListFor(model => model.CountryId, Model.Countries, "-- Choose a country --",
                new { @class = "form-control form-control-extended custom-focus-black", data_ddl_country_name = "",
                    data_ddl_division = "/Countries/PrimaryDivisions/", data_next_division = "1" })
                            @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div data-division-holder="" class="form-group" style="display: none;">
                        @Html.LabelFor(model => model.PrimaryDivisionId, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-5">
                            @Html.DropDownListFor(model => model.PrimaryDivisionId, Enumerable.Empty<SelectListItem>(),
                new { @class = "form-control form-control-extended custom-focus-black", data_ddl_primary_division_name = "",
                    data_ddl_division = "/PrimaryDivisions/SecondaryDivisions/", data_next_division = "2" })
                            @Html.ValidationMessageFor(model => model.PrimaryDivisionId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div data-division-holder="" class="form-group" style="display: none;">
                        @Html.LabelFor(model => model.SecondaryDivisionId, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-5">
                            @Html.DropDownListFor(model => model.SecondaryDivisionId, Enumerable.Empty<SelectListItem>(),
                new { @class = "form-control form-control-extended custom-focus-black", data_ddl_secondary_division_name = "",
                    data_ddl_division = "/SecondaryDivisions/TertiaryDivisions/", data_next_division = "3" })
                            @Html.ValidationMessageFor(model => model.SecondaryDivisionId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div data-division-holder="" class="form-group" style="display: none;">
                        @Html.LabelFor(model => model.TertiaryDivisionId, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-5">
                            @Html.DropDownListFor(model => model.TertiaryDivisionId, Enumerable.Empty<SelectListItem>(),
                new { @class = "form-control form-control-extended custom-focus-black", data_ddl_tertiary_division_name = "",
                    data_ddl_division = "/TertiaryDivisions/QuaternaryDivisions/", data_next_division = "4" })
                            @Html.ValidationMessageFor(model => model.TertiaryDivisionId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div data-division-holder="" class="form-group" style="display: none;">
                        @Html.LabelFor(model => model.QuaternaryDivisionId, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-5">
                            @Html.DropDownListFor(model => model.QuaternaryDivisionId, Enumerable.Empty<SelectListItem>(),
                new { @class = "form-control form-control-extended custom-focus-black", data_ddl_quaternary_division_name = "",
                    data_ddl_division = "/QuaternaryDivisions/", data_next_division = "" })
                            @Html.ValidationMessageFor(model => model.QuaternaryDivisionId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div data-beach-name="" class="form-group" hidden="hidden">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-5">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control form-control-extended custom-focus-black",
                            data_textbox_name = "" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-5">
                            <div class="beach-description-add-edit">
                                @Html.EditorFor(model => model.Description, new { data_textbox_description = "" })
                            </div>
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Coordinates, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-5">
                            @Html.TextBoxFor(model => model.Coordinates, new { @class = "form-control form-control-extended custom-focus-black",
                            data_textbox_coordinates = "" })
                            @Html.ValidationMessageFor(model => model.Coordinates, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="uploader" class="control-label col-md-3">Beach photos</label>
                        <div class="col-md-5">
                            <input id="uploader" type="file" name="images" class="upload" multiple />
                        </div>
                    </div>
                    <sup>Up to 3.5 MB of JPG or PNG images</sup>

                    @Html.ValidationSummary(string.Empty, new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Add beach" class="btn btn-cta" />
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="google-map" id="map"></div>
            </div>
        </div>            
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("/Scripts/jquery-ui.js")
    @Scripts.Render("~/Scripts/Internal/google-map-manager.js")
    @Scripts.Render("~/Scripts/Internal/beaches.js")
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?language=en&libraries=places&key=AIzaSyC8j9vpJT7miOsV0jLllMmqZdXpSnCzs9c&callback=gMapManager.initMap">
    </script>
}

@section BeachStyles{
    @Styles.Render("~/Content/Internal/beach-add-edit.css")
    @Styles.Render("~/Content/jquery-ui.css")
}