@model DetailedBeachViewModel

@{
    ViewBag.Title = Model.Name;
}

<div id="beach-details-container" data-beach-id="@Model.Id" class="col-xs-12">
    @Html.Partial("_BeachHeadPartial", Model)

    @Html.Partial("BeachReviewsPartial", Model.Reviews)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/beach-details")
}

@section BeachStyles{
    @Styles.Render("~/Content/Internal/beach-details.css")
    @Styles.Render("~/Content/Internal/reviews.css")
    @Styles.Render("~/Content/External/slick/slick.css")
    @Styles.Render("~/Content/External/slick/slick-theme.css")
    @Styles.Render("~/Content/External/lightGallery/css/lightgallery.min.css")
    @Styles.Render("~/Content/Internal/criteria-tables.css")
}