@using BeachRankings.App.Utils.CustomHelpers
@model BeachRankings.App.Models.ViewModels.DetailedBeachViewModel

@{
    ViewBag.Title = Model.Name;
}

<h3>@Model.Name - @Model.Location</h3>
<h4>Score: @Html.ParseNullableScore(Model.TotalScore, "This beach has no score yet. Be the first to rate it.")</h4>
<p>@Model.Description</p>

<div class="row">
    @Html.ActionLink("Rate this beach", "Rate", "Reviews", new { id = Model.Id }, new { @class = "btn btn-default" })
</div>

@Html.DisplayFor(m => m.Reviews)