@model DetailedBeachViewModel

@{
    ViewBag.Title = Model.Name;
}

<div id="beach-details-container" data-beach-id="@Model.Id" class="col-xs-12">    
    @Html.Partial("_BeachHeadPartial", Model)
    <hr />
    @Html.Partial("BeachReviewsPartial", Model.Reviews)    
</div>

@section Scripts {
    @Scripts.Render("~/Content/External/slick/slick.min.js")
    @Scripts.Render("~/Scripts/Internal/infinite-scroller.js")
    @Scripts.Render("~/Scripts/Internal/beach-details.js")
}

@section BeachStyles{
    @Styles.Render("~/Content/Internal/beach-details.css")
    @Styles.Render("~/Content/Internal/reviews.css")
    @Styles.Render("~/Content/External/slick/slick.css")
    @Styles.Render("~/Content/External/slick/slick-theme.css")
}