@using BeachRankings.App.Utils.Extensions
@model BeachRankings.App.Models.ViewModels.DetailedBeachViewModel

@Styles.Render("~/Content/Internal/beach-details.css")
@Styles.Render("~/Content/External/lightbox/css/lightbox.css")

@{
    ViewBag.Title = Model.Name;
}

<div class="row">
    <div id="details-container" class="col-xs-12">
        <aside class="beach-aside col-xs-offset-1 col-xs-2 text-left">
            <div>Country: <a href="/Countries/Beaches/@Model.CountryId">@Model.Country</a></div>
            <div>Region: <a href="/PrimaryDivisions/Beaches/@Model.PrimaryDivisionId">@Model.PrimaryDivision</a></div>
            <div>Area: <a href="/SecondaryDivisions/Beaches/@Model.SecondaryDivisionId">@Model.SecondaryDivision</a></div>
            <div>Sub-area: <a href="/TertiaryDivisions/Beaches/@Model.TertiaryDivisionId">@Model.TertiaryDivision</a></div>
            <div>Locality: <a href="/QuaternaryDivisions/Beaches/@Model.QuaternaryDivisionId">@Model.QuaternaryDivision</a></div>
            <div>Coordinates: @Model.Coordinates</div>
            <hr />
            <div>
                @Html.DisplayFor(model => model.Images)
            </div>
        </aside>

        <div class="beach-head col-xs-8">
            <div class="row">
                <div class="text-left beach-name col-xs-2">
                    <h2>@Model.Name</h2>
                    <h4><sub><i>@Html.ParseNullString(Model.SecondaryDivision, Model.PrimaryDivision), @Model.Country</i></sub></h4>
                </div> 
                <div class="beach-score-box beach-score-box-extended col-xs-4"><div class="vertical-center">@Html.ParseNullableValue(Model.TotalScore, "-")</div></div>
            </div>   
            <div class="row">   
                <div class="col-xs-7">
                    <img class="img-responsive" src="@Model.Images.FirstOrDefault().Path" alt="No image available" />
                </div>             
                <p class="text-left col-xs-4">@Model.Description</p>                
            </div>               
        </div>

        <div class="row">
            <div class="col-xs-10">
                @{
                    if (!Model.UserHasRated)
                    {
                        <div class="row">
                            @Html.ActionLink("Rate this beach", "Post", "Reviews", new { id = Model.Id }, new { @class = "btn btn-default" })
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <span class="success">Already Rated</span>
                        </div>
                    }
                }
            </div>

            @{
                if (User.Identity.CanEditBeach(Model.CreatorId, Model.Reviews.Count()))
                {
                    <div class="col-xs-2">
                        <a class="btn btn-info" href="/Beaches/Edit/@Model.Id">Edit</a>

                        @using (Html.BeginForm("Delete", "Beaches", new { id = Model.Id }))
            {
                            <button type="submit" class="btn btn-danger">Delete</button>
                        }
                    </div>
                }
            }
        </div>

        <hr />

        @Html.DisplayFor(m => m.Reviews)
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Content/External/lightbox/js/lightbox.js")
}